.card-paragraph {
	font-size: 14px;
	color: gray;
	margin-bottom: 20px;
}

.card-paragraph span {
	font-weight: bold;
	color: darkgray;
}

img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 10px;
}
