.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px 25px;
}

.card {
	margin-top: 20px;
	background-color: white;
	width: 900px;
	border-radius: 20px;
}

.card-title {
	display: flex;
	justify-content: center;
	width: 100%;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.card-paragraph {
	font-size: 14px;
	color: gray;
	margin-bottom: 20px;
}

.card-paragraph span {
	font-weight: bold;
	color: darkgray;
}

img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 10px;
}
