.table-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	align-items: center;
	align-content: center;
	margin-bottom: 10px;
	width: 100%;
}

th {
	border-bottom: 1px solid lightgray;
}

td {
	padding: 10px 0px 5px 0px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.complete-button {
	margin: 0px 15px;
	background-color: green;
	color: white;
}

.edit-button {
	margin: 0px 5px;
	background-color: blue;
	color: white;
}

.delete-button {
	margin: 0px 5px;
	background-color: red;
	color: white;
}

.complete-button:hover {
	background-color: lightgreen;
	color: black;
}

.edit-button:hover {
	background-color: lightblue;
	color: black;
}

.delete-button:hover {
	background-color: tomato;
	color: black;
}

.done-button {
	background-color: lightgreen;
	cursor: not-allowed;
	font-weight: bold;
	display: inline-block;
	color: #black;
	padding: 6px 13px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.add-todo-button {
	padding: 5px 15px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 5px;
	background-color: black;
	color: white;
	margin-bottom: 20px;
}

.add-todo-button:hover {
	background-color: rgb(194, 194, 194);
	color: black;
}

@media only screen and (max-width: 600px) {
	.complete-button,
	.edit-button,
	.delete-button {
		margin: 5px;
	}

	table {
		align-items: center;
		align-content: center;
		margin-bottom: 10px;
		width: 100%;
	}
}
