.header {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0px;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 20px;
}

.nav-links-li {
	padding: 5px 10px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.nav-links-li:hover {
	background-color: black;
	color: white;
}

@media only screen and (max-width: 600px) {
	.header {
		flex-direction: column;
	}

	.logo {
		marign-bottom: 5px;
	}

	.nav-links-li {
		background-color: black;
		color: white;
	}

	.nav-links-li:hover {
		background-color: white;
		color: black;
	}

	nav {
		margin: 15px 0px;
	}

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
