* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background-color: lightgray;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 10px;
}

.card {
	margin-top: 20px;
	background-color: white;
	border-radius: 20px;
}

.card-head {
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.card-title {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
}

.button {
	padding: 6px 13px;
	margin-right: 5px;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	display: inline-block;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	font-size: 18px;
	font-weight: bold;
}

form input {
	padding: 10px;
	font-size: 16px;
	outline: none;
	margin: 10px 0px;
	border: 1px solid gray;
	border-radius: 5px;
}
